# Anchor local development
ANCHOR_PROVIDER_URL=http://127.0.0.1:8899
ANCHOR_WALLET=~/.config/solana/id.json

# Client configuration
SOLANA_CLUSTER=localnet
SOLANA_RPC_URL=http://127.0.0.1:8899
SOLANA_WS_URL=ws://127.0.0.1:8900
TICKETING_PROGRAM_ID=GQFxmaiXc9sbyzrAtC9oTqdxbB9D6YZvTCzxxHkKefuZ
